*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background-color: aqua;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar ul{
    display: flex;
}

#navbar ul li{
    display: flex;
}

#navbar ul li a{
    padding: 20px;
    font-size:18px;
    font-weight: 500;
    color:#444 ;
    transition: 300ms ease;
}

#navbar ul li a:hover{
    color: black;
}

#navbar ul li a:hover,
#navbar ul li a.active{
    color: black;
}